# Data & Environments
data/
.env
venv/
.venv/
env/

# Scratchwork & Notebooks
notebooks/
.ipynb_checkpoints/

# Python Cache & Tests
__pycache__/
.pytest_cache/
*.py[cod]
*$py.class

# Large Files & Binaries
*.csv
*.json
*.pkl
models/*.pkl
models/*.gguf
models/

# Logs & OS specifics
*.log
.DS_Store
Thumbs.db

# IDE Settings
.vscode/
.idea/
